# Ignore generated CSS
*.css linguist-vendored
*.min.css linguist-vendored

# Ignore build and vendor directories
/build/** linguist-vendored
/dist/** linguist-vendored
/node_modules/** linguist-vendored

# language detection for each main folder 
employee-service/** linguist-language=Java
asset-service/** linguist-language=JavaScript
frontend/** linguist-language=JavaScript
